@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}